/* RESET */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}
/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;900&display=swap');
html {
  font-style: 10px;
}
body {
  font-family: 'Rubik', sans-serif;
  background-color: #71abfe;
  background: url(./assets/img/02.jpg) center no-repeat;
  background-size: cover;
  /* height: 100%; */
  width: 100%;
}

._container {
  border: solid 1px #000;
  max-width: 1200px;
  /* padding: 80px 20px; */
  margin: 0 auto;
		}
.slider {
  width: 70vw;
  /* max-height: 80vh; */
  overflow: hidden;
  border: solid 10px #fff;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sliders {
  width: 400%;
  height: 100%;
  display: flex;
}
.slide{
  width: 25%;
  transition: all .6s ease;
}
.slide img {
  width: 100%;
  height: 100%;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  background: #ccc;
}
.bar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 5px #71abfe;
  cursor: pointer;
  margin: 20px;
  padding: 5px;
  background-color: #71abfe;
  transition: all .4s ease;
  position: relative;
}
.bar:before{
  position:absolute;
  content:'';
  top: -20px;
  right: -20px;
  left: -20px;
  bottom: -20px;
}
.bar:hover {
  opacity: 0.8;
  transform: scale(1.1);
  background-color: #fff;
  border: solid 5px #fff;
}
.bar:active{
  opacity: 0.8;
  transform: scale(1.1);
  background-color: #000;
  border: solid 5px #71abfe;
}
input[name="input-button"] {
  position: absolute;
  visibility: hidden;
}
#input-button-1:checked ~ .slide-1{
  margin-left: 0;
}
#input-button-2:checked ~ .slide-1 {
  margin-left: -25%;
}
#input-button-3:checked ~ .slide-1 {
  margin-left: -50%;
}
#input-button-4:checked ~ .slide-1 {
  margin-left: -75%;
}

.caption {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.slid {
  width: 25%;
  transition: all .6s ease;
  position: relative;
  bottom: 0;
}

.text {
  width: 50%;
  margin: 20px 10px 20px 10px;
  font-size: 1.8rem;
  color: #262b51;
}

@media (max-width: 999px){
  .text {
    width: 50%;
    margin: 10px 20px 10px 20px;
    padding: 0px 20px 0px 20px;
    font-size: 1.6rem;
    font-weight: normal;
    color: #262b51;
  }
}

@media (max-width: 867px){
  .text {
    width: 100%;
    margin: 10px 20px 10px 20px;
    padding: 0px 20px 0px 20px;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
    color: #262b51;
  }
  .navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #ccc;
    height: 120px;
    align-items: flex-end;
  }
}

@media (max-width: 767px){
  .bar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 5px #71abfe;
    cursor: pointer;
    margin: 20px;
    padding: 5px;
    background-color: #71abfe;
    transition: all .4s ease;
    position: relative;
  }
  .bar:before{
    position:absolute;
    content:'';
    top: -10px;
    right: -10px;
    left: -10px;
    bottom: -10px;
  }
}

@media (max-width: 467px){
  .navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #ccc;
    height: 150px;
    align-items: flex-end;
  }
}